<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" />
  </system.webServer>

  <appSettings>
    <add key="StackExchangeAPI_Url" value="https://api.stackexchange.com/"/>
    <add key="StackExchangeAPI_Key" value="*poGRnLX9pjI*NMkTLjkBQ(("/>

    <add key="StackExchangeApp_ClientID" value="12728"/>
    <add key="StackExchangeApp_ClientSecretKey" value="GPimL47ou0xg6aMPCYlmpQ(("/>
    <add key="StackExchangeApp_ClientCode" value="lGyfKIl26yw*XehrFis5xQ))"/>
    <add key="StackExchangeApp_OAuthRedirectUrl" value="http://local.so.com/"/>

    <add key="Dev_AccessToken" value="2iP8lsDlYdaWAAgrG22ACQ))"/>
  </appSettings>
</configuration>