<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="StackExchangeAPI_Url" value="https://api.stackexchange.com/"/>
    <add key="StackExchangeAPI_Key" value=""/>

    <add key="StackExchangeApp_ClientID" value=""/>
    <add key="StackExchangeApp_ClientSecretKey" value=""/>
    <add key="StackExchangeApp_ClientCode" value=""/>
    <add key="StackExchangeApp_OAuthRedirectUrl" value=""/>
    
    <add key="Dev_AccessToken" value=""/>
    
  </appSettings>
</configuration>